/* Space out content a bit */
body {
  padding-top: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#dynamicBackground {
  background: #DDEFFF;
}

input[type='text'] {
  width: 100%;
  height: 40px;
  color: rgba(0, 0, 0, .5);
  font-size: 20px;
}

input {
  padding-left: 100px;
}

.rounded { 
  border: 1px solid rgba(216, 216, 216, .6);
  background: rgba(255, 255, 255, .4);
  border-radius: 25px; 
  -moz-border-radius:25px; 
  -webkit-border-radius:25px; 
}

.inner-addon { 
  position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  pointer-events: none;
  color: rgba(0, 0, 0, .3);
  font-size: 20px; 
}

/* align icon */
.left-addon .glyphicon { 
  left: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}

.background {
  border: none;
  padding: 10px;
  background: rgba(255, 255, 255, .3);
}

.viewWeather {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}

.swipeGesture {
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
}

#starredToggle {
  text-align: center;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
}

#settingsToggle {
  border-left: 1px solid #C8C8C8;
  text-align: center;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-right: 2%;
}

.active {
  background: #F0F0F0;
}

.notActive {
  border-bottom: 1px solid #C8C8C8;
}


