 <div class="swipeGesture" ng-swipe-left="openAside('right', true)">
 </div>
<div class="background">
    <form ng-submit="findWeather(location)">
        <div id="result"></div>
        <div class="form-group">
            <!-- <google-places location=location class="form-control"></google-places> -->
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="rounded" ng-model="location" ng-submit="findWeather(location)" placeholder="Search City..."> </input> 
            </div>
        </div>
    </form>

    <div class="text-center" id="dataLoaded">
        <!-- <i class="glyphicon glyphicon-search"></i> -->
        <img src="images/loading.gif" width="40" height="40"><br>
        Getting Your Location
    </div>

    <div id="showMe" style="display: none;">
        <h1>{{ place.channel.location.city }} {{ place.channel.location.country }}</h1>
        <h3>Current: {{ place.channel.item.condition.text }} | {{ place.channel.item.condition.temp }}°{{ place.channel.units.temperature }}</h3>

        <h4><strong>{{ place.item.forecast[0].date }}</strong></h4>
        <p>H: {{ place.channel.item.forecast[0].high }}°{{ place.channel.units.temperature }} | L: {{ place.channel.item.forecast[0].low }}°{{ place.channel.units.temperature }}</p>
        <p>Wind: {{ place.channel.wind.speed }} {{ place.channel.units.speed }}</p>
    </div>
<div>