<div id="swipeMenuBackground">
    <div id="swipeMenu" ng-swipe-right='closeMenu()' >
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 active" id="starredToggle">STARRED <span class="glyphicon glyphicon-star"></span></div>
                <div class="col-xs-6" id="settingsToggle">SETTINGS <span class="glyphicon glyphicon-cog"></span></div>
            </div>
        </div>
        <div id="starred" class="starredAlignment">
            <h4>Add a new city:</h4>
            <form ng-submit="addItem()">
                <input class="inputCity" type="text" ng-model="itemname" placeholder="E.g. Vancouver, Canada">
            </form> 
            <br>
            <div ng-repeat="item in items | filter:search | orderBy:'text'">
                <div class="col-xs-9" id="goWeather">
                    <h4 ng-click="use(item.id); closeMenu()">{{item.text}}</h4>
                </div>
                <div class="col-xs-3">
                    <img src="images/remove.svg" ng-click="deleteItem(item.id)" width="35px" height="35px" style="padding-top: 5px;">
                </div>

                <br><br>
            </div>
        </div>
    </div>
</div>

<div class="swipeGesture" ng-swipe-left="openMenu()">
</div>

<div class="background" style="text-align: center;">
    <form ng-submit="findWeather(location)">
        <div id="result"></div>
        <div class="form-group">
            <!-- <google-places location=location class="form-control"></google-places> -->
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="rounded" ng-model="location" ng-submit="findWeather(location)" placeholder="Search City..."> </input> 
            </div>
        </div>
    </form>

    <div class="text-center" id="dataLoaded">
        <!-- <i class="glyphicon glyphicon-search"></i> -->
        <img src="images/loading.gif" width="40" height="40"><br>
        Getting Your Location
    </div>

    <div id="showMe" style="display: none;">
        <h1>{{ place.channel.location.city }} {{ place.channel.location.country }}</h1>
        <h3>{{ place.channel.item.condition.text }} <br> {{ place.channel.item.condition.temp }}°{{ place.channel.units.temperature }}</h3>

        <h4><strong>{{ place.item.forecast[0].date }}</strong></h4>
        <p>H: {{ place.channel.item.forecast[0].high }}°{{ place.channel.units.temperature }} | L: {{ place.channel.item.forecast[0].low }}°{{ place.channel.units.temperature }}</p>
        <p>Wind: {{ place.channel.wind.speed }} {{ place.channel.units.speed }}</p>
    </div>
<div>
<script type="text/javascript">

    $("#starredToggle").click(function(){
        $("#starred").show("fast");
        $("#settings").hide();

        $("#starredToggle").addClass('active');
        $("#settingsToggle").removeClass('active');

        $("#settingsToggle").addClass('notActive');
        $("#starredToggle").removeClass('notActive');
    });
    $("#settingsToggle").click(function(){
        $("#starred").hide();
        $("#settings").show("fast");

        $("#settingsToggle").addClass('active');
        $("#starredToggle").removeClass('active');

        $("#starredToggle").addClass('notActive');
        $("#settingsToggle").removeClass('notActive');
    });

    $('.btn-toggle').click(function() {
    $(this).find('.btn').toggleClass('active');  
    
    if ($(this).find('.btn-primary').size()>0) {
        $(this).find('.btn').toggleClass('btn-primary');
    }
});
    </script>